
<img src="http://supportservice.su/images/bank/alfa-bank/alfa-bank-logo-telefon.png" style="width: 25%; text-align: left;">
<p> <%= @request.name + ' ' + @request.second_name %>, ваше заявление на оформление кредитной карты одобрено, перейдите для <a href= 'http://localhost:3000/maps/choose#bank'> выбора способа подачи документов</a>. </p>
